.NavMenu
    height: 80px
    width: 100%
    display: flex
    justify-content: flex-end
    box-sizing: border-box
    align-items: center
    background-color: #ffffff
    padding-right: 10px

.menu
    padding: 10px
    display: inline-block
    cursor: pointer
    background-color: transparent
    border: none
    margin: 0

.menu__box
    width: 40px
    height: 25px
    display: inline-block
    position: relative
    z-index: 10

@mixin menu-line
    width: 100%
    height: 5px
    background-color: black
    position: absolute

    
.menu__inner
    @include menu-line
    
    left: 0
    top: 50%
    transform: translateY(-50%)

.menu__inner::before, .menu__inner::after
    @include menu-line
    
    content: ''
    left: 0

.menu__inner::before
    top: -10px

.menu__inner::after
    top: 10px

.menu--active .menu__inner
    background-color: transparent

.menu--active .menu__inner:before
    transform: translateY(10px) rotate(45deg)
    background-color: #ffffff

.menu--active .menu__inner:after
    transform: translateY(-10px) rotate(-45deg)
    background-color: #ffffff

.nav
    height: 60%
    width: 35%
    background-color: #ffa966
    position: absolute
    top: 0
    right: 0
    transform: translateX(100%)
    transition: transform .3s .1s ease-in-out

.nav__list
    margin-top: 10%
    margin-left: 5%
    list-style: none

.nav__item
    margin-bottom: 10px
    font-family: Montserrat
    font-size: 29px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.55
    letter-spacing: 1.16px
    text-align: left
    color: #ffffff
    a 
        text-decoration: none
    a:link
        color: #ffffff
    a:visited
        color: #ffffff
    a:hover 
        font-weight: 900
        color: #f07f1a
    a:active 
        font-weight: 900
        color: #f07f1a
        

.nav--active
    transform: translateX(0%)
