.BlokSlider
    display: flex
    width: 100%
    position: relative
    &__slider
        background-color: #f07f1a
        width: 50%
        height: 650px
        position: absolute
        right: 0
.BlokSlider__img
    width: 100%
    height: 100%
    object-fit: cover

.BlokSlider__track
    background: transparent 
    height: 100%
    position: relative
    overflow: hidden

.BlokSlider__trackList
    padding: 0
    margin: 0
    list-style: none
    position: relative
    height: 100%
    transition: transform 250ms ease-in
.BlokSlider__trackElement
    position: absolute
    top: 0
    left: 0
    width: 80%
    height: 80%
.BlokSlider__button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    height: 200px
    cursor: pointer
    .--lewy
        left: 2px
    .--prawy
        right: 22px
.BlokSlider__nav
    background: #f07f1a
    display: flex
    justify-content: center
    padding: 5px
.BlokSlider__indi
    border: none
    border: 1px solid black
    border-radius: 50%
    width: 20px
    height: 20px
    margin: 0 10px
    background: transparent
    &.--a
        background: #000000

