.BlokSlider
    margin-bottom: 13%
    display: flex
    width: 100%
    position: relative
    &__slider
        background-color: #f07f1a
        width: 50%
        height: 600px
        position: absolute
        right: 0
    &__text
        margin: 10% 0 0 10%
        font-family: Arial, Helvetica, sans-serif
        font-size: 28.7px
        font-weight: 500
        font-stretch: normal
        font-style: normal
        line-height: 1.7
        letter-spacing: normal
        text-align: left
        color: #010101

.BlokSlider__inner
    width: 80%
    height: 80%
    position: relative 
    left: -100%

.slide
    width: 30%
    height: 30%
    float: left
    font-size: 100px
    color: black
    display: flex
    justify-content: center
    align-items: center

.button 
    width: 30px
    height: 30px
    border-top: 2px solid black
    position: absolute
    cursor: pointer

.prev 
    border-left: 2px solid black
    left: 10%
    transform: rotate(-45deg)


.next 
    border-right: 2px solid black
    right: 10%
    transform: rotate(45deg)

.BlokSlider__wrap
    width: 90%
    height: 90%
    overflow: hidden


