@import 'components/strona', 'components/menu/menu', 'components/Slider/Slider', 'components/stopka/stopka'


    
@media (max-width: 1200px) and (min-width: 800px)
    .Blok
        padding: 1%
        &__uslugi
            width: 65%
            margin: 2%

@media (max-width: 800px) 
    .Tytul
        text-align: center
        font-size: 50px
    .Blok
        width: 100%
        display: block
        &__text
            width: 80%
            margin-bottom: 9%
        &__form
            width: 60%
        &__button
            margin: 0
        &__uslugi
            width: 70%
    .stopka
        &__blok
            margin-right: 7%
            margin-left: 0
            width: 25%
        &__blokprawo
            width: 30%